<?xml version="1.0" encoding="UTF-8"?>
<!-- Body -->

<Config>
    <!-- Global parameters. Valid for all tests -->
    <Global>
        <Serial>
            <com>COM19</com>
            <baudarate>115200</baudarate>
        </Serial>
    </Global>

    <!-- Loop Test only parameters -->
    <LoopTest>
        <SX5>
            <device>466eda16</device>
            <port>5555</port>
            <ip>10.139.128.36</ip>
            <read_sample_time_ms>100</read_sample_time_ms>
            <!--> <supercap_th_high_mv>2590</supercap_th_high_mv> -->
            <supercap_th_low_mv>2100</supercap_th_low_mv>
            <charge_timeout_min>5</charge_timeout_min>
            <random_relay>true</random_relay>
        </SX5>

        <Oscilloscope>
            <resource_name>USB0::0x0699::0x03A4::C040407::INSTR</resource_name>
            <save_folder>Test</save_folder>
        </Oscilloscope>

        <Loop>
            <n_loop>600</n_loop>
        </Loop>

        <Log>
            <csv_filename>Log.csv</csv_filename>
        </Log>
    </LoopTest>

    <!-- Dummy Loop Test only parameters -->
    <DummyLoopTest>
        <Loop>
            <time_on_s>1</time_on_s>
            <time_off_s>0.5</time_off_s>
            <n_loop>5</n_loop>
            <time_test_min>1</time_test_min>
        </Loop>
    </DummyLoopTest>

</Config>
