<?xml version="1.0" encoding="UTF-8"?>
<!-- Body -->

<Config>
    <!-- Global parameters. Valid for all tests -->
    <Global>
        <Serial>
            <com>COM14</com>
            <baudarate>115200</baudarate>
        </Serial>
    </Global>

    <!-- Loop Test only parameters -->
    <LoopTest>
        <SX5>
            <device>466eda16</device>
            <port>5555</port>
            <ip>192.168.1.119</ip>
            <supercap_sample_time_ms>100</supercap_sample_time_ms>
            <!--> <supercap_th_high_mv>2590</supercap_th_high_mv> -->
            <supercap_th_low_mv>2500</supercap_th_low_mv>
            <charge_timeout_min>5</charge_timeout_min>
        </SX5>

        <Loop>
            <n_loop>3</n_loop>
            <time_test_min>100</time_test_min>
        </Loop>

        <Log>
            <path></path>
            <csv_filename>Log.csv</csv_filename>
        </Log>
    </LoopTest>

    <!-- Dummy Loop Test only parameters -->
    <DummyLoopTest>
        <Loop>
            <time_on_s>1</time_on_s>
            <time_off_s>0.5</time_off_s>
            <n_loop>5</n_loop>
            <time_test_min>1</time_test_min>
        </Loop>
    </DummyLoopTest>

</Config>
